<!-- Card com as receitas -->
<!--
  <section class="d-flex justify-content-around flex-wrap my-3 bordertest">

    <div class="card text-center my-4 mx-3 modoNoturno" *ngFor="let produto of listaProdutos"
      [class.caixasNoturno]="modoNoturno" [class.caixas]="!modoNoturno">
      <div class="card-body">
        <a [routerLink]="['/produtos/detalhar', produto.codigo]">
          <div class="produtonome">
            <h4 class="d-flex justify-content-center w-auto">{{produto.nome}}</h4>
          </div>
          <hr>
          <div class="divimg d-flex w-100 justify-content-center">
            <img class="img-fluid img justify-content-center" src="{{produto.urlImg}}" alt="{{produto.descricao}}">
          </div>
          <hr>
        </a>
        <div>
          <span>Preço: {{produto.preco | currency:"BRL" }}</span>
        </div>
        <hr>
        <div>
          <span>Usuario: {{produto.idUsuario.nome}}</span>
        </div>
        <hr>
        <!-- <div>
                    <span>Publicado: {{produto.date | date: 'dd/MM/yyyy'}}
                        ás {{produto.date | date: 'HH:mm'}} </span>
                </div> 
                <hr> 

                FECHAR COMENTARIO DO PUBLICADO  E A DATA

        <button class="btn verMais" [routerLink]="['/produtos/detalhar', produto.codigo]">Saiba mais</button>
      </div>
    </div>
  </section>

  -->

<!-- /Card com as receitas -->