<!-- Card com as receitas -->
<h1 class=" my-3 text-center">Todas as Receitas</h1>

<section class="d-flex justify-content-around flex-wrap my-3 bordertest">
  <div class="card text-center my-4 mx-3 modoNoturno caixas" *ngFor="let receita of listaReceitas">
    <div class="card-body">
      <a [routerLink]="['/receitas/detalhar', receita.codigo]">
        <div class="produtonome">
          <h4 class="d-flex justify-content-center w-auto">{{receita.nome}}</h4>
        </div>
        <hr>

        <div class="divimg d-flex w-100 justify-content-center">
          <img class="img-fluid img justify-content-center" src="{{receita.img1}}" alt="{{receita.nome}}">
        </div>

        <hr>
      </a>
      <!-- <div>
        <span>Categoria: {{receita.idCategoria.nome}}</span>
      </div> -->
      <hr>
      <div>
        <!-- <span>Usuario: {{receita.idUsuario.nome}}</span> -->
      </div>
      <hr>
      <div>
        <span>Publicado: {{receita.data | date: 'dd/MM/yyyy'}}
          ás {{receita.data | date: 'HH:mm'}} </span>
      </div>
      <hr>
      <button class="btn verMais" [routerLink]="['/receitas/detalhar', receita.id]">Saiba mais</button>
    </div>
  </div>
</section>

<!-- /Card com as receitas -->