<div class="container">

    <h1 class="text-center"> Bem vindo ao Receita Fácil</h1>
    <p class="text-center">
        Aqui veremos receitas simples para quem assim como eu, esta começando a cozinhar.<br>
        O importante aqui é nao ter medo de errar, as primeiras receitas são importantes para começar a perder esse
        medo, entender medidas, e se familizarizar com a cozinha.<br>
        Se for menor, e/ou tiver medo em receitas que envolvem forno ou panela de pressão, peça ajuda para alguém com
        experiência na cozinha, peça que ela vá te orientando e você faz! Aprendemos muito mais com a mão na massa!
    </p>

    <div class="d-flex justify-content-center">
        <img class="img-fluid cozinheiros mb-25" src="./../../assets/img/chef.png" alt="cozinheiros">
    </div>

    <div class="container-md d-flex">
        <div class="row">

            <div class="col-3">
                <div class="card" style="width: 15rem;">
                    <img src="./../../assets/img/comida.jpg" class="card-img-top" alt="comidas">
                    <div class="card-body">
                        <h5 class="card-title text-center">Comidas</h5>
                        <p class="card-text text-center">Receitas para pratos principais como arroz, feijao, risoto...
                        </p>
                        <div class=" d-flex justify-content-center">
                            <a href="#" type="button" class="btn btn-receitas w-50">Receitas</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 15rem;">
                    <img src="./../../assets/img/salgados.jpg" class="card-img-top" alt="salgados">
                    <div class="card-body">
                        <h5 class="card-title text-center">Salgados</h5>
                        <p class="card-text text-center">Receitas para salgados, como pizza, coxinha, tortas bolinha de
                            queijo...
                        </p>
                        <div class=" d-flex justify-content-center">
                            <a href="#" type="button" class="btn btn-receitas w-50">Receitas</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 15rem;">
                    <img src="./../../assets/img/sobremesas.jpeg" class="card-img-top img-fluid" alt="sobremesas">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sobremesas</h5>
                        <p class="card-text text-center">Receitas para sobremesas, como, cookie, musse, brigadeiro,
                            bolo...</p>
                        <div class=" d-flex justify-content-center">
                            <a href="#" type="button" class="btn btn-receitas w-50">Receitas</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 15rem;">
                    <img src="./../../assets/img/caldos.jpg" class="card-img-top img-fluid" alt="caldos">
                    <div class="card-body">
                        <h5 class="card-title text-center">Caldos</h5>
                        <p class="card-text text-center">Receitas para caldos, como, caldo verde, caldo de queijo,
                            canja...</p>
                        <div class=" d-flex justify-content-center">
                            <a href="#" type="button" class="btn btn-receitas w-50">Receitas</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



</div>